*.o
*.app/
*.dSYM/
RMAExpress
RMAExpressConsole
RMADataConv
!vc.proj/RMAExpress
vc.proj/debug
vc.proj/Release
*.suo
*.ncb
*.user
*~
*#*
Dump_CDFRME
*.tmp
*.exe
doc/Manual/RMAExpress_UsersGuide.*
!doc/Manual/RMAExpress_UsersGuide.tex
vc.proj/UpgradeLog.htm
vc.proj/Windows_RMAExpress.opensdf
vc.proj/Windows_RMAExpress.sdf
vc.proj/Windows_RMADataConv.sdf
vc.proj/Windows_RMADataConv.opensdf
vc.proj/UpgradeLog2.htm
vc.proj/Windows_RMAExpressConsole.opensdf
vc.proj/Windows_RMAExpressConsole.sdf
vc.proj/UpgradeLog3.htm
.com.apple.timemachine.supported
.DS_Store*
Preprocess/.DS_Store
Preprocess/.DS_Store
vc.proj/x64
