<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.bmbolstad.rmaexpress</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>RMAExpress</string>
	<key>CFBundleIconFile</key>
	<string>RMAExpress.icns</string>
        <key>CFBundleTypeIconFile</key>
	<string>RMAexpress.icns</string>
	<key>CFBundleName</key>
	<string>RMAExpress</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleGetInfoString</key>
	<string>RMAExpress version 1.1.0, (c) 2004-2013 B. M. Bolstad</string>
	<key>CFBundleLongVersionString</key>
	<string>1.1.0, (c) 2004-2013 B. M. Bolstad</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2004-2013 B. M. Bolstad</string>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
